{{ define "main" }}
  <div class="mw8 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <div class="flex justify-between grey-3">
      <p class="f7">Posted on: {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
  </div>
  <div class="cms mw8 center pa3">
    <div class="flex flex-wrap f6 fw8 mb4 justify-between">
      {{if .Prev}}
      <span class="w-50">
        <a class="ph3 pv2 ba br1" href="{{.Prev.Permalink}}">← {{.Prev.Title}}</a>
      </span>
      {{end}} {{if .Next}}
      <span class="w-50 tr">
        <a class="ph3 pv2 ba br1" href="{{.Next.Permalink}}">{{.Next.Title}} →</a>
      </span>
      {{end}}
    </div>
  </div>
{{ end }}
