<section class="feat w-100 w-two-thirds-l mb3">
	{{ range first 1 (where .Site.Pages.ByDate.Reverse "Params.featloc" "start") }}
	<ul class="pr2-ns flex">
		{{ .Render "li" }}
	</div>
	{{ end }}
</section>
<section class="new w-100 w-third-l mb3">
	{{ range first 4 (where .Data.Pages "Type" "post") }} 
		{{ if not (in .Params.featloc "start")}}
		<div class="ml2 pv2-ns flex bb b--grey-2">
			<a href="{{ .Permalink }}" class="pa2 mb2 db w-100">
				<img class="w-100 w-25-ns w-30-l fl-ns fr-m mr4 mr0-m ml3-m mt1 mb3" src="{{ .Params.photo }}" alt="cover photo: {{ .Title }}">
				<h3 class="f6 f8-l mb1 upc">{{ .Params.whetter }}</h3>
				<h2 class="f4 f6-m b lh-title mb1 link">{{ .Title }}</h2>
				<p class="f5 f7-m mb0">{{ .Description }}</p>
			</a>
		</div>
		{{ end }} 
	{{ end }}
</section>
