<footer class="bg-black ph3 pv4 white">

	<div class="mw8 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<img src="/img/logo.svg" alt="Ulampinoy logo" class="db w4 center mb2 br0">
				<ul class="mb3 f6">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/archive" class="link">Archive</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f6 b lh-title mb1 grey-2 upper-case">Find out more</h3>
				<ul class="mb3 f6">
					<li><a href="/" class="link">What's new</a></li>
					<li><a href="/" class="link">Picture of the Week</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f6 b lh-title mb2 grey-2 upper-case">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-youtube") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
