<header class="w-100 pa3 ph5-ns bg-white">
	<div class="db dt-ns mw9 center w-100">
		<div class="dtc tl w-50">
			<a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black-70 v-mid" title="Home">
				<img src="/img/logo.svg" alt="Ulampinoy logo" class="br0 db mb0 w8" />
			</a>
		</div>
		<nav class="dtc v-mid w-50 tr mt2 mt0-ns">
			<a title="The latest" href="/post" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
				Blog
			</a>
			<a title="Video recipes" href="/videos" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
				Videos
			</a>
			<a title="Achive of previous post" href="/archive" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
				Archive
			</a>
		</nav>
	</div>
</header>
