:root {
	/* Colors */
	--primary: rgba(208, 2, 27, 1);
	--highlight: rgb(255, 242, 214);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(244, 244, 244, 1);
	--grey-2: rgba(202, 202, 202, 1);
	--grey-3: rgba(144, 144, 144, 1);
	--grey-4: rgba(64, 64, 64, 1);
	--black: rgba(22, 22, 22, 1);

	/* Typography */
	--font-family: 'Catamaran', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--font-family-serif: 'IBM Plex Serif', Georgia, Times, 'Times New Roman', serif;

	--line-height: 1.6;

	--font-size: 16px;
	--font-size-m: 22px;
	--font-size-l: 27px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: 0;
	--hover-transition: all 150ms ease;
}
