{{ define "main" }}
  <article>
    <header class="max-vh-100-m vh-50 dt w-100">
      {{ if .Params.photo }}
      <div class="bg-pos-center bg-size-cover dtc v-btm cover ph3 ph4-m ph5-l " style="background-image:url({{ .Params.photo }});">
        <h4 class="f6 upc white">{{ .Params.whetter }}</h4>
        <h1 class="f2 fw9 mb5 f-subheadline-m measure lh-title white">{{.Title}}</h1>
      </div>
      {{ end }}
   </header>
    <div class="cms mw8 center pa3">
    {{ .Content }}
    </div>
  </article>
{{ end }}
