{{ define "main" }} 

{{ partial "jumbotron" (dict "imageUrl" "/img/hero/igniting-gas-stove.jpg" "title" "Video Recipes" "subtitle" "Easy to follow and fun cook-along video recipes") }}

<main class="bg-grey-4 grey-1">
    <div class="mw8 center">
        <ul class="flex-ns flex-wrap mhn1-ns pa3">
            {{ range (.Paginator 12).Pages }}
            <li class="card w-100 w-50-ns w-third-m mt2 ph1-ns flex">
                {{ .Render "li"}}
            </li>
            {{ end }}
        </ul>
        {{ partial "pagination" . }}
    </div>
</main>

{{end}}